$color-background:                       #FFFFFF;
$color-primary:                          #575757;
$color-button-primary:                   #628D90;
$color-button-primary-text:              #FFFFFF;
$color-button-secondary:                 #FFFFFF;
$color-button-secondary-text:            #575757;
$color-button-secondary-border:          #575757;
$color-link:                             #575757;

main.dark_mode {
    $color-background:                       #628D90;
    $color-primary:                          #FFFFFF;
    $color-button-primary:                   #FFFFFF;
    $color-button-primary-text:              #575757;
    $color-button-secondary:                 #628D90;
    $color-button-secondary-text:            #FFFFFF;
    $color-button-secondary-border:          #FFFFFF;
    $color-link:                             #FFFFFF;
}

$drawing-css-container-background-one: RGB(235, 161, 140);
$drawing-css-container-background-two: RGB(232, 192, 102);
$drawing-css-container-background-three: RGB(113, 178, 156);