a {
    &.button_style {
      text-transform: uppercase;
      font-weight: bold;
      color: white;
      text-decoration: none;
      padding: 10px 20px;
      border: none;
      border-radius: 12px;
      margin-right: 10px;
      transition-duration: 0.3s;
  
      &:last-child {
        margin-right: 0;
      }
  
      &.primary {
        background-color: #75D3C3;
        border: 2px solid #75D3C3;
        box-shadow: 2px 2px #CAEEE8;
  
        &:hover, &:focus {
          background-color: transparent;
          color: #75D3C3;
          cursor: pointer;
          transition-duration: 0.3s;
          box-shadow: 5px 5px #CAEEE8;
        }
      }
  
      &.secondary {
        background-color: #30587A;
        border: 2px solid #30587A;
        box-shadow: 2px 2px #C7D5DE;
  
        &:hover, &:focus {
          background-color: transparent;
          color: #30587A;
          cursor: pointer;
          transition-duration: 0.3s;
          box-shadow: 5px 5px #C7D5DE;
        }
      }
    }
  }