section#about {
  min-height: calc(100vh - 200px);

  svg {
    height: 1.3em;
    margin-right: 10px;
    display: inline-block;
    vertical-align: baseline;
  }

  h3 {
    display: inline-block;
    margin-bottom: 10px;
  }

  p {
    margin: 0 0 40px 0;
    padding: 0;
    max-width: 60%;
  }
}