footer {
    background-color: #102D40;
    padding: 2% 20%;
    color: white;
    // border-top: 0.5px solid white;
  
    img {
      height: 40px;
    }
  
    // div:first-of-type {
    //   width: 300px;
    // }
  
    a {
      text-transform: uppercase;
      font-weight: bold;
      color: white;
      text-decoration: none;
      border: none;
      margin-right: 10px;
      vertical-align: middle;
      padding: 10px 5px;
    }

    svg {
      fill: white;
      color: white;
    }
  
    .copyright {
      font-size: 0.8em;
      font-weight: normal;
      // padding-top: 1.5%;
      // margin-top: 1.5%;
      width: 50%;
      display: inline-block;
    }

    .links {
      text-align: right;
      width: 50%;
      display: inline-block;
    }
  }