@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  40%, 60% { transform: translate3d(0, 100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}

section#intro {

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 100px 15%;
  min-height: calc(100vh - 400px);
  
  .heading-text {
    h1 {
      text-align: left;
      font-size: 3em;
      text-transform: inherit;
      color: inherit;

      &::after {
        display: none;
      }
    }
  }

  .imageContainer {
    width: 40%;

    img {
      width: 100%;
    }
  }
}
  
  
