body, html {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
  font-weight: normal;
  color: #30587A; }

input[type='submit'] {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  margin-right: 10px;
  transition-duration: 0.3s; }
  input[type='submit']:last-child {
    margin-right: 0; }
  input[type='submit'].primary {
    background-color: #75D3C3;
    border: 2px solid #75D3C3;
    box-shadow: 2px 2px #CAEEE8; }
    input[type='submit'].primary:hover, input[type='submit'].primary:focus {
      background-color: transparent;
      color: #75D3C3;
      cursor: pointer;
      transition-duration: 0.3s;
      box-shadow: 5px 5px #CAEEE8; }
  input[type='submit'].secondary {
    background-color: #30587A;
    border: 2px solid #30587A;
    box-shadow: 2px 2px #C7D5DE; }
    input[type='submit'].secondary:hover, input[type='submit'].secondary:focus {
      background-color: transparent;
      color: #30587A;
      cursor: pointer;
      transition-duration: 0.3s;
      box-shadow: 5px 5px #C7D5DE; }

a.button_style {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  margin-right: 10px;
  transition-duration: 0.3s; }
  a.button_style:last-child {
    margin-right: 0; }
  a.button_style.primary {
    background-color: #75D3C3;
    border: 2px solid #75D3C3;
    box-shadow: 2px 2px #CAEEE8; }
    a.button_style.primary:hover, a.button_style.primary:focus {
      background-color: transparent;
      color: #75D3C3;
      cursor: pointer;
      transition-duration: 0.3s;
      box-shadow: 5px 5px #CAEEE8; }
  a.button_style.secondary {
    background-color: #30587A;
    border: 2px solid #30587A;
    box-shadow: 2px 2px #C7D5DE; }
    a.button_style.secondary:hover, a.button_style.secondary:focus {
      background-color: transparent;
      color: #30587A;
      cursor: pointer;
      transition-duration: 0.3s;
      box-shadow: 5px 5px #C7D5DE; }

h2 {
  text-transform: uppercase;
  font-size: 2em;
  color: #75D3C3;
  padding: 0 0 50px 0;
  margin: 0 0 0 0; }
  h2::after {
    content: "";
    display: block;
    height: 5px;
    width: 30px;
    top: 10px;
    position: relative;
    background-color: #75D3C3; }

h3 {
  text-transform: uppercase;
  color: #75D3C3;
  font-size: 1.5em;
  padding: 0 0 5px 0;
  margin: 0; }

h4 {
  font-size: 1.1em;
  padding: 0 0 0 0;
  margin: 0; }

header {
  margin: 25px 15%; }

section {
  margin: 0;
  padding: 100px 15%; }

p {
  font-size: 1em;
  margin-bottom: 16px; }

@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0); }
  40%, 60% {
    transform: translate3d(0, 100%, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }
section#intro {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 100px;
  min-height: calc(100vh - 200px); }
  section#intro .heading-text h2 {
    font-size: 3em;
    text-transform: inherit;
    color: inherit; }
    section#intro .heading-text h2::after {
      display: none; }
  section#intro .imageContainer {
    width: 40%; }
    section#intro .imageContainer img {
      width: 100%; }

nav {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  nav .logo_container {
    width: 250px; }
    nav .logo_container .logo {
      width: 100%; }
  nav ul {
    display: inline; }
    nav ul li {
      display: inline;
      list-style: none;
      margin-right: 30px; }
      nav ul li:last-child {
        margin-right: 0; }
  nav a {
    text-transform: uppercase;
    color: #30587A;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s linear;
    cursor: pointer;
    position: relative;
    white-space: nowrap; }
  nav a::before,
  nav a::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none; }
  nav a::before {
    content: ''; }
  nav a::before {
    height: 3px;
    border-radius: 10px;
    transform: scale3d(1, 1, 1);
    transition: transform 0.2s, opacity 0.2s;
    transition-timing-function: cubic-bezier(0.2, 0.57, 0.67, 1.53); }
  nav a:hover::before, nav a:focus::before {
    transition-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
    transition-duration: 0.4s;
    opacity: 1;
    transform: scale3d(1.2, 0.1, 1); }
  nav a span {
    transform: translate3d(0, -4px, 0);
    display: inline-block;
    transition: transform 0.2s 0.05s cubic-bezier(0.2, 0.57, 0.67, 1.53); }
  nav a:hover span, nav a:focus span {
    transform: translate3d(0, 0, 0);
    transition-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
    transition-duration: 0.4s;
    transition-delay: 0s; }

section#about {
  background-image: url(../assets/images/background-full-3.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: calc(100vh - 200px);
  margin: 100px 0; }
  section#about svg {
    height: 1.3em;
    margin-right: 10px;
    display: inline-block;
    vertical-align: baseline; }
  section#about h3 {
    display: inline-block;
    margin-bottom: 10px; }
  section#about p {
    margin: 0 0 40px 0;
    padding: 0;
    max-width: 60%; }

section#projects {
  min-height: calc(100vh - 200px); }
  section#projects .projectsIntro {
    margin-bottom: 50px; }
    section#projects .projectsIntro p:first-of-type {
      font-size: 1.2em;
      margin-top: 0;
      max-width: 60ch; }
  section#projects .buttonContainer {
    width: 100%;
    text-align: center;
    margin-top: 75px; }

.projects_container {
  display: flex;
  gap: 20px;
  align-content: flex-start;
  flex-wrap: wrap; }
  .projects_container .project_tile {
    padding: 25px;
    min-width: 350px;
    border-radius: 10px;
    background-color: #58829D;
    border: 1px solid #58829D;
    -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    position: relative; }
    .projects_container .project_tile svg {
      height: 30px;
      position: absolute;
      top: 25px;
      right: 10px;
      margin-right: 16px;
      color: #CAEEE8;
      filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.4)); }
    .projects_container .project_tile h3 {
      padding: 0 0 10px 0;
      margin: 0;
      max-width: 19ch;
      color: white;
      filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.4)); }
    .projects_container .project_tile p {
      padding: 0 0 30px 0;
      margin-bottom: 16px;
      font-size: 1em;
      max-width: auto;
      color: white;
      filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.4)); }
    .projects_container .project_tile a {
      display: block;
      text-transform: uppercase;
      text-decoration: none;
      color: white;
      font-weight: bold;
      filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.4));
      position: absolute;
      bottom: 25px;
      left: 25px; }
      .projects_container .project_tile a::after {
        content: ">";
        margin-left: 5px; }
      .projects_container .project_tile a:hover, .projects_container .project_tile a:focus {
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-thickness: 2px; }
    .projects_container .project_tile:hover {
      background-color: white;
      transition: all 0.3s;
      border: 1px solid #58839d44; }
      .projects_container .project_tile:hover h3 {
        color: #58829D;
        filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2)); }
      .projects_container .project_tile:hover p {
        color: #58829D;
        filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2)); }
      .projects_container .project_tile:hover a {
        color: #58829D;
        filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2)); }
      .projects_container .project_tile:hover svg {
        color: #75D3C3;
        filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2)); }

section#contact {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("../assets/images/contact_bg.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding: 100px 10%;
  margin: 0; }
  section#contact h2 {
    text-align: center; }
    section#contact h2::after {
      content: "";
      display: block;
      height: 5px;
      width: 30px;
      top: 10px;
      left: calc(50% - 15px);
      position: relative;
      background-color: #75D3C3; }
  section#contact form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 3%;
    width: 450px;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px; }
    section#contact form legend {
      font-size: 1.5em;
      font-weight: bold;
      margin-bottom: 50px; }
    section#contact form label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
      text-align: left; }
    section#contact form input[type='text'], section#contact form input[type='email'], section#contact form textarea {
      width: calc(94% - 4px);
      border: 2px solid #75D3C3;
      border-radius: 10px;
      padding: 3% 3%;
      margin-bottom: 30px; }
      section#contact form input[type='text']::-webkit-input-placeholder, section#contact form input[type='email']::-webkit-input-placeholder, section#contact form textarea::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #d0d9e0; }
      section#contact form input[type='text']::-moz-placeholder, section#contact form input[type='email']::-moz-placeholder, section#contact form textarea::-moz-placeholder {
        /* Firefox 19+ */
        color: #d0d9e0; }
      section#contact form input[type='text']:-ms-input-placeholder, section#contact form input[type='email']:-ms-input-placeholder, section#contact form textarea:-ms-input-placeholder {
        /* IE 10+ */
        color: #d0d9e0; }
      section#contact form input[type='text']:-moz-placeholder, section#contact form input[type='email']:-moz-placeholder, section#contact form textarea:-moz-placeholder {
        /* Firefox 18- */
        color: #d0d9e0; }
    section#contact form p {
      font-size: 1.1em;
      font-weight: bold;
      margin: 50px 0 0 0; }
      section#contact form p a {
        color: #30587A; }
    section#contact form span {
      display: block; }
      section#contact form span p {
        display: inline-block;
        margin-right: 16px; }
      section#contact form span svg {
        width: 25px;
        transform: rotate(20deg); }

footer {
  background-color: #102D40;
  padding: 2% 20%;
  color: white; }
  footer img {
    height: 40px; }
  footer a {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border: none;
    margin-right: 10px;
    vertical-align: middle;
    padding: 10px 5px; }
  footer svg {
    fill: white;
    color: white; }
  footer .copyright {
    font-size: 0.8em;
    font-weight: normal;
    width: 50%;
    display: inline-block; }
  footer .links {
    text-align: right;
    width: 50%;
    display: inline-block; }

.highlight {
  color: #75D3C3; }

.bigger {
  font-size: 1.1em;
  font-weight: bold; }

/*# sourceMappingURL=main.css.map */
