@keyframes flash_text {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.3; }
  100% {
    opacity: 1; } }
@keyframes scroll_down {
  0% {
    top: 15px;
    opacity: 1; }
  50% {
    top: 22px;
    opacity: 0.3; }
  100% {
    top: 15px;
    opacity: 1; } }
a:hover {
  cursor: pointer; }

a {
  font-weight: 700;
  text-decoration: none;
  border: none;
  font-size: 1em; }
  a.primary, a.primary:active, a.primary:focus {
    background-color: #628D90;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 7px;
    margin-right: 20px;
    text-transform: uppercase; }
    a.primary:last-of-type, a.primary:active:last-of-type, a.primary:focus:last-of-type {
      margin-right: 0; }
  a.secondary {
    background-color: #FFFFFF;
    color: #575757;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid #575757;
    margin-right: 20px;
    text-transform: uppercase; }
    a.secondary:last-of-type {
      margin-right: 0; }
  a.text {
    text-decoration: underline;
    color: #575757; }

#logo {
  font-weight: 900;
  font-size: 1.6em; }

h1 {
  font-weight: 900;
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 10px; }

.circle_image {
  border-radius: 1000px; }

p {
  font-weight: 200;
  line-height: 30px; }

#drawings-using-css h1 + p {
  font-size: 1.3em;
  font-weight: 500;
  max-width: 50ch;
  margin-top: 0;
  margin-bottom: 50px; }
#drawings-using-css .image-with-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px; }

.drawing_and_info_container {
  margin-bottom: 50px; }
  .drawing_and_info_container:last-of-type {
    margin-bottom: 0; }
  .drawing_and_info_container .container {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    border-radius: 20px; }
    .drawing_and_info_container .container img {
      width: 200px; }
  .drawing_and_info_container:nth-of-type(1n) .container {
    background-color: RGB(235, 161, 140); }
  .drawing_and_info_container:nth-of-type(2n) .container {
    background-color: RGB(232, 192, 102); }
  .drawing_and_info_container:nth-of-type(3n) .container {
    background-color: RGB(113, 178, 156); }

.input_container {
  margin: 0 0 50px 0; }

#random-number-generator p {
  max-width: 700px; }
#random-number-generator h1 + p {
  font-size: 1.3em;
  font-weight: 500;
  margin-top: 0; }

#about_container {
  display: grid;
  grid-template-columns: 1fr 600px;
  column-gap: 5%; }
  #about_container #about_container_text p {
    max-width: 60ch; }
    #about_container #about_container_text p:first-of-type {
      font-size: 1.3em;
      font-weight: 700;
      max-width: 50ch;
      margin-top: 0; }
  #about_container #image_me {
    width: 300px;
    position: relative; }
  #about_container #image_newcastle {
    width: 275px;
    position: relative;
    top: 200px; }
  #about_container #image_bouldering {
    width: 240px;
    position: relative;
    top: 30px;
    left: 30px; }

#contact_container a {
  word-break: break-word; }

#contact h1 + p {
  font-size: 1.3em;
  font-weight: 500;
  max-width: 50ch;
  margin-top: 0;
  margin-bottom: 50px; }
#contact #emailAddress {
  font-weight: 700;
  font-size: 1.8em;
  color: #575757; }

#projects-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  align-items: flex-start; }

#projects h1 + p {
  font-size: 1.3em;
  font-weight: 500;
  max-width: 50ch;
  margin-top: 0;
  margin-bottom: 50px; }

.project_box h2 {
  padding: 0;
  margin: 0;
  font-size: 1.1em;
  line-height: 1.3em;
  padding: 0; }
  .project_box h2::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\25b6";
    margin-right: 10px;
    font-size: 0.6em;
    background-color: transparent;
    position: relative;
    top: -2px;
    -webkit-appearance: none; }
.project_box p {
  font-size: 0.9em;
  padding: 0;
  margin: 10px 0;
  max-width: 80ch; }
.project_box a {
  font-weight: 300;
  text-decoration: underline; }

#home #text-with-image {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; }
  #home #text-with-image img {
    width: 300px;
    height: 300px;
    margin-right: 5%; }
  #home #text-with-image p {
    margin: 20px 0 30px 0;
    font-size: 1.1em;
    max-width: 60ch; }

body, html {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: #575757;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px; }

main {
  min-height: calc(100vh - 100px);
  padding: 50px 200px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch; }

footer {
  text-transform: uppercase;
  font-size: 0.7em;
  margin-top: 100px; }
  footer a {
    color: inherit; }
  footer ul {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0; }
    footer ul li {
      display: inline-block;
      margin-right: 10px; }
      footer ul li:last-of-type {
        margin-right: 0; }

nav ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  nav ul li {
    display: inline-block;
    width: auto;
    margin-right: 20px;
    font-size: 1em;
    text-transform: uppercase; }
    nav ul li:last-of-type {
      margin-right: 0; }
    nav ul li a {
      font-weight: 600;
      color: #575757; }

#page_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px; }
  #page_title img {
    width: 200px;
    margin-bottom: 50px; }
  #page_title #header_line {
    width: 100px;
    height: 1px;
    display: block; }
  #page_title p {
    margin: 16px 0 0 0; }
    #page_title p:last-of-type {
      margin-bottom: 16px; }

/*# sourceMappingURL=main.css.map */
