.image-with-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;

    @media screen and (max-width: 1025px) {
      display: flex;
      flex-direction: column;
      grid-gap: 0;
    }
  }