#page_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  img {
    width: 200px;
    margin-bottom: 50px;
  }

  #header_line {
    width: 100px;
    height: 1px;
    display: block;
  }

  p {
    margin: 16px 0 0 0;

    &:last-of-type {
      margin-bottom: 16px;
    }
  }
}
