a {
  font-weight: 700;
  text-decoration: none;
  border: none;
  font-size: 1em;
  white-space: nowrap;

  &:hover {
    cursor: pointer;
  }

  &.primary, &.primary:active, &.primary:focus {
    background-color: $color-button-primary;
    color: $color-button-primary-text;
    padding: 10px 20px;
    border-radius: 7px;
    margin-right: 20px;
    text-transform: uppercase;

    &:last-of-type {
      margin-right: 0;
    }

    @media screen and (max-width: 620px) {
      font-size: 0.9em;
      display: inline-block;
      margin-right: 0;
      margin-top: 10px;
      width: calc(100% - 40px);
      text-align: center;

      &:first-of-type {
        margin-top: 0;
      }
    }
  }

  &.secondary  {
    background-color: $color-button-secondary;
    color: $color-button-secondary-text;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid $color-button-secondary-border;
    margin-right: 20px;
    text-transform: uppercase;

    &:last-of-type {
      margin-right: 0;
    }

    @media screen and (max-width: 620px) {
      font-size: 0.9em;
      display: inline-block;
      margin-right: 0;
      margin-top: 10px;
      width: calc(100% - 40px);
      text-align: center;
    }
  }

  &.text {
    text-decoration: underline;
    color: $color-link;
  }
}
