#about_container {
  display: grid;
  grid-template-columns: 1fr 600px;
  column-gap: 5%;

  #about_container_text {
    p {
      max-width: 60ch;

      @media screen and (max-width: 1175px) {
        max-width: 70ch;
      }

      &:first-of-type {
        font-size: 1.3em;
        font-weight: 700;
        max-width: 50ch;
        margin-top: 0;

        @media screen and (max-width: 1175px) {
          max-width: 60ch;
        }
      }
    }
  }

  #about_container_images{
    height: auto;

    @media screen and (max-width: 1175px) {
      text-align: center;
      margin-bottom: 30px;
    }
  }

  #image_me {
    width: 300px;
    position: relative;

    @media screen and (max-width: 1475px) {
      width: 275px;
    }

    @media screen and (max-width: 1175px) {
      width: 200px;
      margin-bottom: 20px;
      margin-bottom: 0;
      margin-right: 3%;
      width: 150px;
    }

    @media screen and (max-width: 625px) {
      margin-right: 0;
      width: 250px;
    }

    @media screen and (max-width: 430px) {
      width: 200px;
    }
  }

  #image_newcastle {
    width: 275px;
    position: relative;
    top: 200px;

    @media screen and (max-width: 1475px) {
      width: 250px;
      top: auto;
      bottom: 20px;
      left: 200px;
    }

    @media screen and (max-width: 1175px) {
      width: 200px;
      top: auto;
      bottom: auto;
      left: auto;
      margin-bottom: 20px;
      margin-bottom: 0;
      margin-right: 3%;
      width: 150px;
    }

    @media screen and (max-width: 625px) {
      display: none;
    }
  }

  #image_bouldering {
    width: 240px;
    position: relative;
    top: 30px;
    left: 30px;

    @media screen and (max-width: 1475px) {
      width: 200px;
      top: auto;
      bottom: 50px;
    }

    @media screen and (max-width: 1175px) {
      width: 200px;
      top: auto;
      bottom: auto;
      left: auto;
      margin-bottom: 0;
      margin-right: 3%;
      width: 150px;
    }

    @media screen and (max-width: 625px) {
      display: none;
    }
  }

  @media screen and (max-width: 1475px) {
    grid-template-columns: 1fr 400px;
  }

  @media screen and (max-width: 1175px) {
    display: flex;
    flex-direction: column-reverse;
  }
}
