#about_container {
  display: grid;
  grid-template-columns: 1fr 600px;
  column-gap: 5%;

  #about_container_text {
    p {
      max-width: 60ch;

      &:first-of-type {
        font-size: 1.3em;
        font-weight: 700;
        max-width: 50ch;
        margin-top: 0;
      }
    }
  }


  #image_me {
    width: 300px;
    position: relative;
  }

  #image_newcastle {
    width: 275px;
    position: relative;
    top: 200px;
  }

  #image_bouldering {
    width: 240px;
    position: relative;
    top: 30px;
    left: 30px;
  }
}
