#contact_container a {
  word-break: break-word;
}

#contact {
  h1 + p {
    font-size: 1.3em;
    font-weight: 500;
    max-width: 50ch;
    margin-top: 0;
    margin-bottom: 50px;
  }

  #emailAddress {
    font-weight: 700;
    font-size: 1.8em;
    color: $color-link;

    @media screen and (max-width: 930px) {
      font-size: 1.5em;
    }

    @media screen and (max-width: 600px) {
      font-size: 1.2em;
    }

    @media screen and (max-width: 360px) {
      font-size: 1em;
    }
  }
}