#drawings-using-css {
  h1 + p {
    font-size: 1.3em;
    font-weight: 500;
    max-width: 50ch;
    margin-top: 0;
    margin-bottom: 50px;

    @media screen and (max-width: 930px) {
      font-size: 1.1em;
    }
  }

  .image-with-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;

    @media screen and (max-width: 1025px) {
      display: flex;
      flex-direction: column;
      grid-gap: 0;
    }
  }
}

.drawing_and_info_container {
  margin-bottom: 50px;

  &:last-of-type {
    margin-bottom: 0;
  }

  .container {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    border-radius: 20px;

    img {
      width: 200px;
    }
  }

  &:nth-of-type(1n) .container {
    background-color: $drawing-css-container-background-one;
  }

  &:nth-of-type(2n) .container {
    background-color: $drawing-css-container-background-two;
  }

  &:nth-of-type(3n) .container {
    background-color: $drawing-css-container-background-three;
  }
}
